{include file="Public/head"/}
<body class="no-skin">
{include file="Public/header"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="Public/sidebar"/}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {include file="Public/breadcrumbs" /}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                {include file="Public/set"/}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tabbable">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                红花山小学简介
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            深圳市光明新区红花山小学为2016年新建的公办小学，学校位于公明街道富利北路与松白公路交汇处，位于公明核心商圈，毗邻中粮云景国际小区。学校占地面积10500平方米，建筑面积12500平方米，办学规模为24个教学班，学生人数约1200人，2016年秋季开始招收一年级新生四个教学班约200人。 学校按照现代化学校高标准规划建设，设施设备齐全，配有多功能报告厅、图书馆、音乐室、美术室、舞蹈室、体育馆、科技创新实验室、语音室、200米跑道运动操场等，可满足多元化、个性化教育教学需要。
                                        </div>
                                    </div>

                                   <!-- /.tab-content -->
                                </div><!-- /.tabbable -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->




                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    {include file="Public/footer"/}

</div><!-- /.main-container -->

{include file="Public/footerjs"/}
<!-- inline scripts related to this page -->
</body>
</html>
