{include file="Public/head"/}
<body class="no-skin">
{include file="Public/header"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="Public/sidebar"/}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {include file="Public/breadcrumbs" /}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                {include file="Public/set"/}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li ><a href="<{:url('user/index')}>">用户管理</a></li>
                                        <li class="active"><a >添加用户</a></li>
                                    </ul>
                                    <div style="margin-top: 20px;"></div>
                                    <form class="form-horizontal margin-top-20" action="<{:url('user/add_user_post')}>" method="post">
                                        <div class="form-group">
                                            <label for="input-name" class="col-sm-2 control-label"><span style="color: red">*</span>用户名</label>
                                            <div class="col-md-6 col-sm-10">
                                                <input type="text" class="form-control" id="input-name" name="user_login">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-name" class="col-sm-2 control-label"><span style="color: red">*</span>密码</label>
                                            <div class="col-md-6 col-sm-10">
                                                <input type="text" class="form-control" id="input-name" name="user_pass">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-name" class="col-sm-2 control-label"><span style="color: red">*</span>手机</label>
                                            <div class="col-md-6 col-sm-10">
                                                <input type="text" class="form-control" id="input-name" name="mobile">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">性别</label>
                                            <div class="col-md-6 col-sm-10">
                                                <label class="radio-inline">
                                                    <input type="radio" name="sex" value="1" checked> 男                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="sex" value="0"> 女                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">在职</label>
                                            <div class="col-md-6 col-sm-10">
                                                <label class="radio-inline">
                                                    <input type="radio" name="user_status" value="1" checked> 是                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="user_status" value="0"> 否               </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"><span style="color:red">*</span>角色</label>
                                            <div class="col-md-6 col-sm-10">
                                                {foreach name="roles" item="vo"}
                                                    <label class="checkbox-inline">
                                                        <input value="<{$vo.id}>" type="checkbox" name="role_id[]" ><{$vo.name}>
                                                    </label>
                                                {/foreach}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-primary">添加</button>
                                            </div>
                                        </div>
                                    </form>

                                    <!-- /.tab-content -->
                                </div><!-- /.tabbable -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    {include file="Public/footer"/}

</div><!-- /.main-container -->

{include file="Public/footerjs"/}
<!-- inline scripts related to this page -->
</body>
</html>
